thermograms_analysis/*.json
**/__pycache__
**/catboost_info
thermograms_analysis/data
thermograms_analysis/metrics
thermograms_analysis/ptw
thermograms_analysis/*.pkl
thermograms_analysis/*.zip
!thermograms_analysis/laser_params.json
thermograms_analysis/*.xlsx