AI_GENERATED_DATA/
Assets/
coco.py
Demo - COTS Dataset - Multiple Objects.ipynb
Demo - COTS Dataset - Single Object.ipynb
Environment/
Evaluation/
LICENSE

presentation.pdf
README.md
runs/
tmp/
toTrainOn/
presentations/
Rev 2/
Test results/
pixel_size/imgs/
predicted_masks/**
!predicted_masks/.gitkeep
datasets/**
!datasets/.gitkeep
Annotations/**
!Annotations/.gitkeep
Main/
for reporting purposes/
Evaluation/
.ipynb_checkpoints/
__pycache__/
welding/examples/
welding/weights/
yolo11n.pt
yolo11s-seg.pt
